[Unit]
Description=MQTT Status Client/Daemon

[Service]
Type=simple
WorkingDirectory=/opt/mqttstatus
ExecStart=/opt/mqttstatus/.venv/bin/python3 -u /opt/mqttstatus/bin/mqttstatus
#StandardOutput=null
StandardOutput=syslog
#SyslogIdentifier=ISPliDet
StandardError=journal
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=3
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
